@model NLTU_Labs.Models.Bus
@using NLTU_Labs.Models
@using (Html.BeginForm())
{
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.BusNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.BusNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DriverName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DriverName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RouteNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.RouteNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Home
                </a>
            </div>
        </div>
    </div>
}
